
body {
    background-image: url('sysApp/static/fondos/imagen.jpg');
    background-size: cover; 
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    text-align: center; 
    color: #26ff00; 
    font-family: Arial, sans-serif;
}

/* Estilo del h1 */
h1 {
    color: #ffffff; 
    text-shadow: 
        -1px -1px 0 #000000, 
        1px -1px 0 #000000, 
        -1px 1px 0 #000000, 
        1px 1px 0 #000000; 
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Estilo del h2 */
h2 {
    color: #FFD700; 
    text-shadow: 
        -1px -1px 0 #000000, 
        1px -1px 0 #000000, 
        -1px 1px 0 #000000, 
        1px 1px 0 #000000; 
    font-size: 1.5rem;
    margin-bottom: 20px;
}



a.btn {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease; 
}

a.btn-login {
    background-color: #000000; 
}

a.btn-login:hover {
    background-color: #170072; 
}

/* Botón WhatsApp */
a.btn-whatsapp {
    background-color: #25d366; 
}

a.btn-whatsapp:hover {
    background-color: #40ff00;
}

/* Botón Instagram */
a.btn-instagram {
    background-color: #ff002f;
}

a.btn-instagram:hover {
    background-color: #590032;
}

/* Botón YouTube */
a.btn-youtube {
    background-color: #ff0000;
    color: white;
}

a.btn-youtube:hover {
    background-color: #ececec; 
    color: white;
}
